body {
 font-family: "Arial", "Meiryo", sans-serif;
 font-size: 20px;
 text-align: center;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  letter-spacing: 48px; 
  text-shadow: 2px 1px gainsboro;
  border-bottom: solid 3px rgb(115,115,114);

}

.m {
  color:skyblue;
}

.p {
  color: rgb(255,192,203);
}

.pink {
  color: rgb(255,192,203);
}

.skyblue {
  color: skyblue;
}

#basic > p {
  font-weight: bold;
}
